<h2>Hello</h2>


<div class="row" align="center">
    <% @products.each do |p| %>
    <div class="col-md-4">
        <div>
            <%= p.title %>
        </div>
        <!-- Представление фотографии с увеличением -->
        <div class="blok1">
            <img src="<%= p.small_img %>"/><img src="<%= p.big_img %>"/>
        </div>
        <div>
            <%= p.description %>
        </div> <br>
        <div align="left">
            Pizza size: <%= p.size %>
        </div>
        <div align="left">
            Price: <%= p.price %>$
        </div>
        <!-- Кнопка с функцией добавления в корзину -->
        <div>
            <button type="button" class="btn btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
        </div>
    </div>    
    <% end %>
</div>


